<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<% @products.each do |product| %>
    <div class="row">
      <div class="span4 offset1">
        <%= link_to product.user_defined_name,
                    product.optional_link.empty? ? mac_address_products_path(:mac_address => product.mac_address) : "#{product.optional_link}?mac_address=#{product.mac_address}",
                    :target => "_blank" %>
      </div>
      <div class="span1">
        <%= link_to t('.show_logs'), product_logs_path(product), :class => 'btn btn-mini' if current_user.admin %>
      </div>
    </div>
    &nbsp
    &nbsp
    &nbsp
<% end %>
